<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/agent/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item"><a class="nav-link collapsed" href="/agent/collections/pending">My Pending Collections</a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/agent/collections/previous">My Previous Collections</a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/agent/profile">My Profile</a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/auth/logout" class="btn">Logout</a></li>

    </ul>

</aside><!-- End Sidebar-->
