<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/donor/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item"><a class="nav-link collapsed" href="/donor/donate">
                <i class="bi bi-cash-stack"></i> Donate</a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/donor/donations/pending">
                <i class="bi bi-book"></i> My Pending Donations</a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/donor/donations/previous">
                <i class="bi bi-book"></i> My Previous Donations</a>
        </li>
        <li class="nav-item"><a class="nav-link collapsed" href="/donor/profile">
                <i class="bi bi-eye-fill"></i> My Profile</a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/auth/logout">
                <i class="bi bi-file-earmark-lock-fill"></i> Logout</a></li>

    </ul>

</aside><!-- End Sidebar-->
