<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/volunteer/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/volunteer/opportunity">
                <i class="bi bi-book"></i> Opportunity </a></li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/volunteer/apply-opportunity">
                <i class="bi bi-book"></i>Apply Opportunity </a>
        </li>
        <li class="nav-item"><a class="nav-link collapsed" href="/volunteer/profile">
                <i class="bi bi-eye-fill"></i> My Profile</a></li>
        <li class="nav-item"><a class="nav-link collapsed" href="/auth/logout">
                <i class="bi bi-file-earmark-lock-fill"></i> Logout</a></li>


    </ul>

</aside><!-- End Sidebar-->
