<%- include('../partials/volunteer/volunteerAside') %>
<%- include('../partials/volunteer/volunteerHeader') %>

<main id="main" class="main">

    <div class="bg-white shadow-sm p-3">
        <span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
        <h5 class="m-0 color-theme d-inline-block">Volunteer Dashboard</h5>
    </div>

</main>