<%- include('../partials/header') %>
<h1 class="m-4 color-theme">About Us</h1>
<div class="bg-white m-4 p-4 shadow">
	<p class="fs-5">We are a charity organization dedicated to providing assistance and support to people in need across the country. Our mission is to eliminate hunger and provide basic necessities to those who are struggling to make ends meet.</p>
	<p class="fs-5">Through the generosity of our donors and volunteers, we are able to distribute donations to individuals and families in need, providing them with access to food, clothing, and other essential items.</p>
	<p class="fs-5">Our organization believes that everyone should have access to basic necessities, regardless of their income level or background. We work tirelessly to provide support to those who need it most, and we are committed to making a positive impact in our community.</p>
	
	<img src="/assets/images/img-0.jpg" class="d-block w-100" alt="...">
	<p class="fs-5">If you would like to support our mission and help us make a difference in the lives of those in need, please consider making a donation or volunteering your time. Every contribution makes a difference, and we are grateful for your support.</p>
</div>

<%- include('../partials/footer') %>