<h1 class="m-4 color-theme">Our Mission</h1>
<div class="bg-white m-4 p-4 shadow">
		<p class="fs-5">Our mission is to create a world where all individuals have access to basic necessities, regardless of their income level or background. We believe that everyone deserves to live a life of dignity, free from hunger, poverty, and hardship.</p>
		<p class="fs-5">We work tirelessly to provide assistance and support to people in need, helping them to access food, clothing, shelter, and other essential items. Through the generosity of our donors and volunteers, we are able to make a positive impact in our community, and we are committed to continuing this work until we achieve our mission.</p>
		<p class="fs-5">At our organization, we believe that every person has the power to make a difference, and we are dedicated to empowering individuals to take action and create positive change in the world. We provide opportunities for people to get involved in our work, whether through volunteering their time, making a donation, or simply spreading the word about our mission.</p>
		<img src="/assets/images/img-4.jpg" class="d-block w-100" alt="...">
		<p class="fs-5">If you share our vision of a world where everyone has access to basic necessities and want to be part of our mission, we invite you to join us. Together, we can make a difference and create a brighter future for all.</p>
</div>